# Data analyisis of the EPEN dataset

---

## Data Preproprocessing

### Dataset download
The following code will perform the dataset download from the dictionaries bellow, these can be edited as you want

**Import libraries** and scripts

In [1]:
import os
import zipfile
from dataset_management import download_dataset# Download dataset module

**city-code and trimester-code correspondence**

In [2]:
# Corresponding cities and trimester codes for downloading. Feel free to add key:value for the city of your analysis and upcomming surveys
city_code = {
    "chimbote":1763,
    "trujillo":1773,
    "chiclayo":1774,
    "lima_metropolitana":1775,
    "piura":1780,
    "tumbes":1785
    }

trimester_code = {
    "2022T1":856,
    "2022T2":858,
    "2022T3":860,
    "2022T4":862,
    "2023T1":848,
    "2023T2":850,
    "2023T3":864,
    "2023T4":872
    }

**Download dataset**

In [3]:
# Downloads dataset on the dataset directory, checks before the download if directory and files already exists
download_dataset(city_code, trimester_code)
dataset_dir= os.getcwd() + "\\dataset\\"
print('\033[1m'+"\nDataset directory is located at " + dataset_dir + '\033[0m')

Dataset directory already exists
chimbote_2022T1.csv already extracted.
trujillo_2022T1.csv already extracted.
chiclayo_2022T1.csv already extracted.
lima_metropolitana_2022T1.csv already extracted.
piura_2022T1.csv already extracted.
tumbes_2022T1.csv already extracted.
chimbote_2022T2.csv already extracted.
trujillo_2022T2.csv already extracted.
chiclayo_2022T2.csv already extracted.
lima_metropolitana_2022T2.csv already extracted.
piura_2022T2.csv already extracted.
tumbes_2022T2.csv already extracted.
chimbote_2022T3.csv already extracted.
trujillo_2022T3.csv already extracted.
chiclayo_2022T3.csv already extracted.
lima_metropolitana_2022T3.csv already extracted.
piura_2022T3.csv already extracted.
tumbes_2022T3.csv already extracted.
chimbote_2022T4.csv already extracted.
trujillo_2022T4.csv already extracted.
chiclayo_2022T4.csv already extracted.
lima_metropolitana_2022T4.csv already extracted.
piura_2022T4.csv already extracted.
tumbes_2022T4.csv already extracted.
chimbote_2023T1.csv already extracted.
trujillo_2023T1.csv already extracted.
chiclayo_2023T1.csv already extracted.
lima_metropolitana_2023T1.csv already extracted.
piura_2023T1.csv already extracted.
tumbes_2023T1.csv already extracted.
chimbote_2023T2.csv already extracted.
trujillo_2023T2.csv already extracted.
chiclayo_2023T2.csv already extracted.
lima_metropolitana_2023T2.csv already extracted.
piura_2023T2.csv already extracted.
tumbes_2023T2.csv already extracted.
chimbote_2023T3.csv already extracted.
trujillo_2023T3.csv already extracted.
chiclayo_2023T3.csv already extracted.
lima_metropolitana_2023T3.csv already extracted.
piura_2023T3.csv already extracted.
tumbes_2023T3.csv already extracted.
chimbote_2023T4.csv already extracted.
trujillo_2023T4.csv already extracted.
chiclayo_2023T4.csv already extracted.
lima_metropolitana_2023T4.csv already extracted.
piura_2023T4.csv already extracted.
tumbes_2023T4.csv already extracted.

Dataset directory is located at C:\Users\diegortiz\Desktop\DSP\EPEN_PROJECT\dataset\

### Dataset load in dataframes

**Generates path of each csv file**

In [4]:
dataset_dir_files=os.listdir(".\\dataset\\")
csv_files=[]
for name in dataset_dir_files:
    if name.endswith(".csv"):
        csv_files.append(name)
del dataset_dir_files

**Loads csv file into each dataframe**

In [5]:
import pandas as pd
df_list = []
for i in range(len(csv_files)):
    file_path = dataset_dir + csv_files[i]
    try:
        del globals()[csv_files[i][:-4]]
        globals()[csv_files[i][:-4]] = pd.read_csv(file_path)
        print('\033[1m' + csv_files[i] + " reloaded to " + csv_files[i][:-4] + " dataframe" + '\033[0m')
        df_list.append(csv_files[i][:-4])
        globals()[df_list[i]].info()
        print("")
    except:
        print('\033[1m' + csv_files[i] + " loaded to " + csv_files[i][:-4] + " dataframe" + '\033[0m')
        globals()[csv_files[i][:-4]] = pd.read_csv(file_path)
        df_list.append(csv_files[i][:-4])
        globals()[df_list[i]].info()
        print("")

chiclayo_2022T1.csv loaded to chiclayo_2022T1 dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3406 entries, 0 to 3405
Columns: 128 entries, ANIO to FAC_T300
dtypes: int64(14), object(114)
memory usage: 3.3+ MB

chiclayo_2022T2.csv loaded to chiclayo_2022T2 dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3479 entries, 0 to 3478
Columns: 128 entries, ANIO to FAC_T300
dtypes: int64(14), object(114)
memory usage: 3.4+ MB

chiclayo_2022T3.csv loaded to chiclayo_2022T3 dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3371 entries, 0 to 3370
Columns: 128 entries, ANIO to FAC_T300
dtypes: int64(14), object(114)
memory usage: 3.3+ MB

chiclayo_2022T4.csv loaded to chiclayo_2022T4 dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3385 entries, 0 to 3384
Columns: 128 entries, ANIO to FAC_T300
dtypes: int64(14), object(114)
memory usage: 3.3+ MB

chiclayo_2023T1.csv loaded to chiclayo_2023T1 dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3309 entries, 0 to 3308
Columns: 128 entries, ANIO to FAC_T300
dtypes: int64(14), object(114)
memory usage: 3.2+ MB

chiclayo_2023T2.csv loaded to chiclayo_2023T2 dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Columns: 128 entries, ANIO to FAC_T300
dtypes: int64(14), object(114)
memory usage: 3.3+ MB

chiclayo_2023T3.csv loaded to chiclayo_2023T3 dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3417 entries, 0 to 3416
Columns: 128 entries, ANIO to FAC_T300
dtypes: int64(14), object(114)
memory usage: 3.3+ MB

chiclayo_2023T4.csv loaded to chiclayo_2023T4 dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3256 entries, 0 to 3255
Columns: 130 entries, ANIO to FAC_T300
dtypes: int64(12), object(118)
memory usage: 3.2+ MB

chimbote_2022T1.csv loaded to chimbote_2022T1 dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2569 entries, 0 to 2568
Columns: 128 entries, ANIO to FAC_T300
dtypes: int64(14), object(114)
memory usage: 2.5+ MB

chimbote_2022T2.csv loaded to chimbote_2022T2 dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2467 entries, 0 to 2466
Columns: 128 entries, ANIO to FAC_T300
dtypes: int64(14), object(114)
memory usage: 2.4+ MB

chimbote_2022T3.csv loaded to chimbote_2022T3 dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2417 entries, 0 to 2416
Columns: 128 entries, ANIO to FAC_T300
dtypes: int64(14), object(114)
memory usage: 2.4+ MB

chimbote_2022T4.csv loaded to chimbote_2022T4 dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2459 entries, 0 to 2458
Columns: 128 entries, ANIO to FAC_T300
dtypes: int64(14), object(114)
memory usage: 2.4+ MB

chimbote_2023T1.csv loaded to chimbote_2023T1 dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2420 entries, 0 to 2419
Columns: 128 entries, ANIO to FAC_T300
dtypes: int64(14), object(114)
memory usage: 2.4+ MB

chimbote_2023T2.csv loaded to chimbote_2023T2 dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2414 entries, 0 to 2413
Columns: 128 entries, ANIO to FAC_T300
dtypes: int64(14), object(114)
memory usage: 2.4+ MB

chimbote_2023T3.csv loaded to chimbote_2023T3 dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2586 entries, 0 to 2585
Columns: 128 entries, ANIO to FAC_T300
dtypes: int64(14), object(114)
memory usage: 2.5+ MB

chimbote_2023T4.csv loaded to chimbote_2023T4 dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2467 entries, 0 to 2466
Columns: 130 entries, ANIO to FAC_T300
dtypes: int64(12), object(118)
memory usage: 2.4+ MB

lima_metropolitana_2022T1.csv loaded to lima_metropolitana_2022T1 dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14359 entries, 0 to 14358
Columns: 128 entries, ANIO to FAC_T300
dtypes: int64(14), object(114)
memory usage: 14.0+ MB

lima_metropolitana_2022T2.csv loaded to lima_metropolitana_2022T2 dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14327 entries, 0 to 14326
Columns: 128 entries, ANIO to FAC_T300
dtypes: int64(14), object(114)
memory usage: 14.0+ MB

lima_metropolitana_2022T3.csv loaded to lima_metropolitana_2022T3 dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14500 entries, 0 to 14499
Columns: 128 entries, ANIO to FAC_T300
dtypes: int64(14), object(114)
memory usage: 14.2+ MB

lima_metropolitana_2022T4.csv loaded to lima_metropolitana_2022T4 dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15082 entries, 0 to 15081
Columns: 128 entries, ANIO to FAC_T300
dtypes: int64(14), object(114)
memory usage: 14.7+ MB

lima_metropolitana_2023T1.csv loaded to lima_metropolitana_2023T1 dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15026 entries, 0 to 15025
Columns: 128 entries, ANIO to FAC_T300
dtypes: int64(14), object(114)
memory usage: 14.7+ MB

lima_metropolitana_2023T2.csv loaded to lima_metropolitana_2023T2 dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15001 entries, 0 to 15000
Columns: 128 entries, ANIO to FAC_T300
dtypes: int64(14), object(114)
memory usage: 14.6+ MB

lima_metropolitana_2023T3.csv loaded to lima_metropolitana_2023T3 dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16069 entries, 0 to 16068
Columns: 128 entries, ANIO to FAC_T300
dtypes: int64(14), object(114)
memory usage: 15.7+ MB

lima_metropolitana_2023T4.csv loaded to lima_metropolitana_2023T4 dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15458 entries, 0 to 15457
Columns: 130 entries, ANIO to FAC_T300
dtypes: int64(12), object(118)
memory usage: 15.3+ MB

piura_2022T1.csv loaded to piura_2022T1 dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3439 entries, 0 to 3438
Columns: 128 entries, ANIO to FAC_T300
dtypes: int64(14), object(114)
memory usage: 3.4+ MB

piura_2022T2.csv loaded to piura_2022T2 dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3388 entries, 0 to 3387
Columns: 128 entries, ANIO to FAC_T300
dtypes: int64(14), object(114)
memory usage: 3.3+ MB

piura_2022T3.csv loaded to piura_2022T3 dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3372 entries, 0 to 3371
Columns: 128 entries, ANIO to FAC_T300
dtypes: int64(14), object(114)
memory usage: 3.3+ MB

piura_2022T4.csv loaded to piura_2022T4 dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3427 entries, 0 to 3426
Columns: 128 entries, ANIO to FAC_T300
dtypes: int64(14), object(114)
memory usage: 3.3+ MB

piura_2023T1.csv loaded to piura_2023T1 dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3358 entries, 0 to 3357
Columns: 128 entries, ANIO to FAC_T300
dtypes: int64(14), object(114)
memory usage: 3.3+ MB

piura_2023T2.csv loaded to piura_2023T2 dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3403 entries, 0 to 3402
Columns: 128 entries, ANIO to FAC_T300
dtypes: int64(14), object(114)
memory usage: 3.3+ MB

piura_2023T3.csv loaded to piura_2023T3 dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3564 entries, 0 to 3563
Columns: 128 entries, ANIO to FAC_T300
dtypes: int64(14), object(114)
memory usage: 3.5+ MB

piura_2023T4.csv loaded to piura_2023T4 dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3534 entries, 0 to 3533
Columns: 130 entries, ANIO to FAC_T300
dtypes: int64(12), object(118)
memory usage: 3.5+ MB

trujillo_2022T1.csv loaded to trujillo_2022T1 dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3852 entries, 0 to 3851
Columns: 128 entries, ANIO to FAC_T300
dtypes: int64(14), object(114)
memory usage: 3.8+ MB

trujillo_2022T2.csv loaded to trujillo_2022T2 dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3763 entries, 0 to 3762
Columns: 128 entries, ANIO to FAC_T300
dtypes: int64(14), object(114)
memory usage: 3.7+ MB

trujillo_2022T3.csv loaded to trujillo_2022T3 dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3678 entries, 0 to 3677
Columns: 128 entries, ANIO to FAC_T300
dtypes: int64(14), object(114)
memory usage: 3.6+ MB

trujillo_2022T4.csv loaded to trujillo_2022T4 dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3807 entries, 0 to 3806
Columns: 128 entries, ANIO to FAC_T300
dtypes: int64(14), object(114)
memory usage: 3.7+ MB

trujillo_2023T1.csv loaded to trujillo_2023T1 dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3884 entries, 0 to 3883
Columns: 128 entries, ANIO to FAC_T300
dtypes: int64(14), object(114)
memory usage: 3.8+ MB

trujillo_2023T2.csv loaded to trujillo_2023T2 dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3813 entries, 0 to 3812
Columns: 128 entries, ANIO to FAC_T300
dtypes: int64(14), object(114)
memory usage: 3.7+ MB

trujillo_2023T3.csv loaded to trujillo_2023T3 dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3907 entries, 0 to 3906
Columns: 128 entries, ANIO to FAC_T300
dtypes: int64(14), object(114)
memory usage: 3.8+ MB

trujillo_2023T4.csv loaded to trujillo_2023T4 dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3936 entries, 0 to 3935
Columns: 130 entries, ANIO to FAC_T300
dtypes: int64(12), object(118)
memory usage: 3.9+ MB

tumbes_2022T1.csv loaded to tumbes_2022T1 dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2846 entries, 0 to 2845
Columns: 128 entries, ANIO to FAC_T300
dtypes: int64(14), object(114)
memory usage: 2.8+ MB

tumbes_2022T2.csv loaded to tumbes_2022T2 dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2822 entries, 0 to 2821
Columns: 128 entries, ANIO to FAC_T300
dtypes: int64(14), object(114)
memory usage: 2.8+ MB

tumbes_2022T3.csv loaded to tumbes_2022T3 dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2836 entries, 0 to 2835
Columns: 128 entries, ANIO to FAC_T300
dtypes: int64(14), object(114)
memory usage: 2.8+ MB

tumbes_2022T4.csv loaded to tumbes_2022T4 dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2905 entries, 0 to 2904
Columns: 128 entries, ANIO to FAC_T300
dtypes: int64(14), object(114)
memory usage: 2.8+ MB

tumbes_2023T1.csv loaded to tumbes_2023T1 dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2834 entries, 0 to 2833
Columns: 128 entries, ANIO to FAC_T300
dtypes: int64(14), object(114)
memory usage: 2.8+ MB

tumbes_2023T2.csv loaded to tumbes_2023T2 dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2810 entries, 0 to 2809
Columns: 128 entries, ANIO to FAC_T300
dtypes: int64(14), object(114)
memory usage: 2.7+ MB

tumbes_2023T3.csv loaded to tumbes_2023T3 dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2910 entries, 0 to 2909
Columns: 128 entries, ANIO to FAC_T300
dtypes: int64(14), object(114)
memory usage: 2.8+ MB

tumbes_2023T4.csv loaded to tumbes_2023T4 dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2901 entries, 0 to 2900
Columns: 130 entries, ANIO to FAC_T300
dtypes: int64(12), object(118)
memory usage: 2.9+ MB

### Adding city name column

**Adds the corresponding city name to every row of every dataset**

In [6]:
for i in range(len(df_list)):
    try:
        globals()[df_list[i]].insert(0,"CIUDAD",df_list[i].split("_")[0].upper())
        print(df_list[i] + ": City name column inserted")
    except:
        print(df_list[i] + ": City name column already exists")

chiclayo_2022T1: City name column inserted
chiclayo_2022T2: City name column inserted
chiclayo_2022T3: City name column inserted
chiclayo_2022T4: City name column inserted
chiclayo_2023T1: City name column inserted
chiclayo_2023T2: City name column inserted
chiclayo_2023T3: City name column inserted
chiclayo_2023T4: City name column inserted
chimbote_2022T1: City name column inserted
chimbote_2022T2: City name column inserted
chimbote_2022T3: City name column inserted
chimbote_2022T4: City name column inserted
chimbote_2023T1: City name column inserted
chimbote_2023T2: City name column inserted
chimbote_2023T3: City name column inserted
chimbote_2023T4: City name column inserted
lima_metropolitana_2022T1: City name column inserted
lima_metropolitana_2022T2: City name column inserted
lima_metropolitana_2022T3: City name column inserted
lima_metropolitana_2022T4: City name column inserted
lima_metropolitana_2023T1: City name column inserted
lima_metropolitana_2023T2: City name column inserted
lima_metropolitana_2023T3: City name column inserted
lima_metropolitana_2023T4: City name column inserted
piura_2022T1: City name column inserted
piura_2022T2: City name column inserted
piura_2022T3: City name column inserted
piura_2022T4: City name column inserted
piura_2023T1: City name column inserted
piura_2023T2: City name column inserted
piura_2023T3: City name column inserted
piura_2023T4: City name column inserted
trujillo_2022T1: City name column inserted
trujillo_2022T2: City name column inserted
trujillo_2022T3: City name column inserted
trujillo_2022T4: City name column inserted
trujillo_2023T1: City name column inserted
trujillo_2023T2: City name column inserted
trujillo_2023T3: City name column inserted
trujillo_2023T4: City name column inserted
tumbes_2022T1: City name column inserted
tumbes_2022T2: City name column inserted
tumbes_2022T3: City name column inserted
tumbes_2022T4: City name column inserted
tumbes_2023T1: City name column inserted
tumbes_2023T2: City name column inserted
tumbes_2023T3: City name column inserted
tumbes_2023T4: City name column inserted

**Handling differences between the 2022T1-2023T3 datasets and the 2023T4**

In [7]:
# Defining the default columns orientation as the "lima_metropolitana_2023T3" dataset
cols_orientation = lima_metropolitana_2023T3.columns.to_list()

# Deleteing extra columns from all dataframes
for i in range(len(df_list)):
    try:
        globals()[df_list[i]] = globals()[df_list[i]].drop(columns=["CODCIUDAD","SEGURO1"])
        print(str(df_list[i]) + ": \"CODCIUDAD\" and \"SEGURO1\" were deleted")
    except:
        print(str(df_list[i]) + ": Columns were already deleted or wasn't in the dataframe previously")
    
    # Reindexing the columns order of all dataframes just in case ;)
    try:
        globals()[df_list[i]] = globals()[df_list[i]].reindex(columns=cols_orientation)
        print(df_list[i] + ": Columns rearranged\n")
    except:
        print(df_list[i] + ": Couldn't rearrange columns\n")

chiclayo_2022T1: Columns were already deleted or wasn't in the dataframe previously
chiclayo_2022T1: Columns rearranged

chiclayo_2022T2: Columns were already deleted or wasn't in the dataframe previously
chiclayo_2022T2: Columns rearranged

chiclayo_2022T3: Columns were already deleted or wasn't in the dataframe previously
chiclayo_2022T3: Columns rearranged

chiclayo_2022T4: Columns were already deleted or wasn't in the dataframe previously
chiclayo_2022T4: Columns rearranged

chiclayo_2023T1: Columns were already deleted or wasn't in the dataframe previously
chiclayo_2023T1: Columns rearranged

chiclayo_2023T2: Columns were already deleted or wasn't in the dataframe previously
chiclayo_2023T2: Columns rearranged

chiclayo_2023T3: Columns were already deleted or wasn't in the dataframe previously
chiclayo_2023T3: Columns rearranged

chiclayo_2023T4: "CODCIUDAD" and "SEGURO1" were deleted
chiclayo_2023T4: Columns rearranged

chimbote_2022T1: Columns were already deleted or wasn't in the dataframe previously
chimbote_2022T1: Columns rearranged

chimbote_2022T2: Columns were already deleted or wasn't in the dataframe previously
chimbote_2022T2: Columns rearranged

chimbote_2022T3: Columns were already deleted or wasn't in the dataframe previously
chimbote_2022T3: Columns rearranged

chimbote_2022T4: Columns were already deleted or wasn't in the dataframe previously
chimbote_2022T4: Columns rearranged

chimbote_2023T1: Columns were already deleted or wasn't in the dataframe previously
chimbote_2023T1: Columns rearranged

chimbote_2023T2: Columns were already deleted or wasn't in the dataframe previously
chimbote_2023T2: Columns rearranged

chimbote_2023T3: Columns were already deleted or wasn't in the dataframe previously
chimbote_2023T3: Columns rearranged

chimbote_2023T4: "CODCIUDAD" and "SEGURO1" were deleted
chimbote_2023T4: Columns rearranged

lima_metropolitana_2022T1: Columns were already deleted or wasn't in the dataframe previously
lima_metropolitana_2022T1: Columns rearranged

lima_metropolitana_2022T2: Columns were already deleted or wasn't in the dataframe previously
lima_metropolitana_2022T2: Columns rearranged

lima_metropolitana_2022T3: Columns were already deleted or wasn't in the dataframe previously
lima_metropolitana_2022T3: Columns rearranged

lima_metropolitana_2022T4: Columns were already deleted or wasn't in the dataframe previously
lima_metropolitana_2022T4: Columns rearranged

lima_metropolitana_2023T1: Columns were already deleted or wasn't in the dataframe previously
lima_metropolitana_2023T1: Columns rearranged

lima_metropolitana_2023T2: Columns were already deleted or wasn't in the dataframe previously
lima_metropolitana_2023T2: Columns rearranged

lima_metropolitana_2023T3: Columns were already deleted or wasn't in the dataframe previously
lima_metropolitana_2023T3: Columns rearranged

lima_metropolitana_2023T4: "CODCIUDAD" and "SEGURO1" were deleted
lima_metropolitana_2023T4: Columns rearranged

piura_2022T1: Columns were already deleted or wasn't in the dataframe previously
piura_2022T1: Columns rearranged

piura_2022T2: Columns were already deleted or wasn't in the dataframe previously
piura_2022T2: Columns rearranged

piura_2022T3: Columns were already deleted or wasn't in the dataframe previously
piura_2022T3: Columns rearranged

piura_2022T4: Columns were already deleted or wasn't in the dataframe previously
piura_2022T4: Columns rearranged

piura_2023T1: Columns were already deleted or wasn't in the dataframe previously
piura_2023T1: Columns rearranged

piura_2023T2: Columns were already deleted or wasn't in the dataframe previously
piura_2023T2: Columns rearranged

piura_2023T3: Columns were already deleted or wasn't in the dataframe previously
piura_2023T3: Columns rearranged

piura_2023T4: "CODCIUDAD" and "SEGURO1" were deleted
piura_2023T4: Columns rearranged

trujillo_2022T1: Columns were already deleted or wasn't in the dataframe previously
trujillo_2022T1: Columns rearranged

trujillo_2022T2: Columns were already deleted or wasn't in the dataframe previously
trujillo_2022T2: Columns rearranged

trujillo_2022T3: Columns were already deleted or wasn't in the dataframe previously
trujillo_2022T3: Columns rearranged

trujillo_2022T4: Columns were already deleted or wasn't in the dataframe previously
trujillo_2022T4: Columns rearranged

trujillo_2023T1: Columns were already deleted or wasn't in the dataframe previously
trujillo_2023T1: Columns rearranged

trujillo_2023T2: Columns were already deleted or wasn't in the dataframe previously
trujillo_2023T2: Columns rearranged

trujillo_2023T3: Columns were already deleted or wasn't in the dataframe previously
trujillo_2023T3: Columns rearranged

trujillo_2023T4: "CODCIUDAD" and "SEGURO1" were deleted
trujillo_2023T4: Columns rearranged

tumbes_2022T1: Columns were already deleted or wasn't in the dataframe previously
tumbes_2022T1: Columns rearranged

tumbes_2022T2: Columns were already deleted or wasn't in the dataframe previously
tumbes_2022T2: Columns rearranged

tumbes_2022T3: Columns were already deleted or wasn't in the dataframe previously
tumbes_2022T3: Columns rearranged

tumbes_2022T4: Columns were already deleted or wasn't in the dataframe previously
tumbes_2022T4: Columns rearranged

tumbes_2023T1: Columns were already deleted or wasn't in the dataframe previously
tumbes_2023T1: Columns rearranged

tumbes_2023T2: Columns were already deleted or wasn't in the dataframe previously
tumbes_2023T2: Columns rearranged

tumbes_2023T3: Columns were already deleted or wasn't in the dataframe previously
tumbes_2023T3: Columns rearranged

tumbes_2023T4: "CODCIUDAD" and "SEGURO1" were deleted
tumbes_2023T4: Columns rearranged

**Verifying same number of columns of the 2023T4 datasets**

In [8]:
for i in range(len(df_list)):
    if df_list[i][-4:]=="23T4":
        if globals()[df_list[i]].columns.size == lima_metropolitana_2023T3.columns.size:
            print(df_list[i] + " OK")

chiclayo_2023T4 OK
chimbote_2023T4 OK
lima_metropolitana_2023T4 OK
piura_2023T4 OK
trujillo_2023T4 OK
tumbes_2023T4 OK

**Load Column names into dataframe for counting before concatenation**

In [9]:
ColNames = {}
for i in range(len(df_list)):
    ColNames[str(df_list[i])] = []
    for j in globals()[df_list[i]].columns:
        ColNames[str(df_list[i])].append(str(j))
df_Cols=pd.DataFrame(ColNames)
df_Cols

,chiclayo_2022T1,chiclayo_2022T2,chiclayo_2022T3,chiclayo_2022T4,chiclayo_2023T1,chiclayo_2023T2,chiclayo_2023T3,chiclayo_2023T4,chimbote_2022T1,chimbote_2022T2,...,trujillo_2023T3,trujillo_2023T4,tumbes_2022T1,tumbes_2022T2,tumbes_2022T3,tumbes_2022T4,tumbes_2023T1,tumbes_2023T2,tumbes_2023T3,tumbes_2023T4
0,CIUDAD,CIUDAD,CIUDAD,CIUDAD,CIUDAD,CIUDAD,CIUDAD,CIUDAD,CIUDAD,CIUDAD,...,CIUDAD,CIUDAD,CIUDAD,CIUDAD,CIUDAD,CIUDAD,CIUDAD,CIUDAD,CIUDAD,CIUDAD
1,ANIO,ANIO,ANIO,ANIO,ANIO,ANIO,ANIO,ANIO,ANIO,ANIO,...,ANIO,ANIO,ANIO,ANIO,ANIO,ANIO,ANIO,ANIO,ANIO,ANIO
2,MES,MES,MES,MES,MES,MES,MES,MES,MES,MES,...,MES,MES,MES,MES,MES,MES,MES,MES,MES,MES
3,AREA,AREA,AREA,AREA,AREA,AREA,AREA,AREA,AREA,AREA,...,AREA,AREA,AREA,AREA,AREA,AREA,AREA,AREA,AREA,AREA
4,ESTRATO,ESTRATO,ESTRATO,ESTRATO,ESTRATO,ESTRATO,ESTRATO,ESTRATO,ESTRATO,ESTRATO,...,ESTRATO,ESTRATO,ESTRATO,ESTRATO,ESTRATO,ESTRATO,ESTRATO,ESTRATO,ESTRATO,ESTRATO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,INGTOT,INGTOT,INGTOT,INGTOT,INGTOT,INGTOT,INGTOT,INGTOT,INGTOT,INGTOT,...,INGTOT,INGTOT,INGTOT,INGTOT,INGTOT,INGTOT,INGTOT,INGTOT,INGTOT,INGTOT
125,INGTOTP,INGTOTP,INGTOTP,INGTOTP,INGTOTP,INGTOTP,INGTOTP,INGTOTP,INGTOTP,INGTOTP,...,INGTOTP,INGTOTP,INGTOTP,INGTOTP,INGTOTP,INGTOTP,INGTOTP,INGTOTP,INGTOTP,INGTOTP
126,ingtrabw,ingtrabw,ingtrabw,ingtrabw,ingtrabw,ingtrabw,ingtrabw,ingtrabw,ingtrabw,ingtrabw,...,ingtrabw,ingtrabw,ingtrabw,ingtrabw,ingtrabw,ingtrabw,ingtrabw,ingtrabw,ingtrabw,ingtrabw
127,RESIDENT,RESIDENT,RESIDENT,RESIDENT,RESIDENT,RESIDENT,RESIDENT,RESIDENT,RESIDENT,RESIDENT,...,RESIDENT,RESIDENT,RESIDENT,RESIDENT,RESIDENT,RESIDENT,RESIDENT,RESIDENT,RESIDENT,RESIDENT
128,FAC_T300,FAC_T300,FAC_T300,FAC_T300,FAC_T300,FAC_T300,FAC_T300,FAC_T300,FAC_T300,FAC_T300,...,FAC_T300,FAC_T300,FAC_T300,FAC_T300,FAC_T300,FAC_T300,FAC_T300,FAC_T300,FAC_T300,FAC_T300

In [10]:
# Takes column names from the first dataset name loaded in df_Cols, chiclayo_2022T1. If all names are equal to the first columns, all values of the same row are OK
col_names=df_Cols.iloc[:,0].tolist()

for i in range(len(col_names)):
    counter_col = 0
    for j in df_Cols.loc[i].tolist():
        if j == col_names[i]:
            counter_col = counter_col + 1
            if counter_col == df_Cols.columns.size:
                print(j + '\033[1m' + '\033[92m'+ " OK" + '\033[0m')
        else:
            print('\033[1m' + '\033[91m' + j + "ERROR" + '\033[0m')

CIUDAD OK
ANIO OK
MES OK
AREA OK
ESTRATO OK
LLAVE_PANEL OK
CONGLOMERADO OK
MUESTRA OK
SELVIV OK
HOGAR OK
C201 OK
C203 OK
C204 OK
C205 OK
C206 OK
C207 OK
C208 OK
C300n OK
NROINF OK
C301_DIA OK
C301_MES OK
C301_ANIO OK
C303 OK
C304 OK
C305 OK
C306_1 OK
C306_2 OK
C306_3 OK
C306_4 OK
C306_5 OK
C306_6 OK
C306_7 OK
C306_8 OK
C306_9 OK
C306_10 OK
C306_10A OK
C306_11 OK
C306A OK
C308_COD OK
C309_COD OK
C310 OK
C311 OK
C312 OK
C313 OK
C317 OK
C317A OK
C318_1 OK
C318_2 OK
C318_3 OK
C318_4 OK
C318_5 OK
C318_6 OK
C318_7 OK
C318_T OK
C328_T OK
whoraT OK
C330 OK
C331 OK
C333 OK
C334 OK
P209H OK
C335 OK
C338 OK
C339_1 OK
C341_T OK
C342 OK
C344 OK
C345_1 OK
C347_T OK
C348 OK
C350 OK
C352 OK
C353 OK
C354 OK
C355 OK
C356 OK
C357_I OK
C358 OK
C359 OK
C361_1 OK
C362_1 OK
C361_2 OK
C362_2 OK
C361_3 OK
C362_3 OK
C361_4 OK
C362_4 OK
C361_5 OK
C362_5 OK
C361_6 OK
C362_6 OK
C361_7 OK
C362_7 OK
C361_8 OK
C362_8 OK
C364_1 OK
C365_1 OK
C364_2 OK
C365_2 OK
C364_3 OK
C365_3 OK
C364_4 OK
C365_4 OK
C366 OK
C366_1 OK
C366_2 OK
C375_1 OK
C375_2 OK
C375_3 OK
C375_4 OK
C375_5 OK
C375_6 OK
C376 OK
C377 OK
OCUP300 OK
D341_T OK
D344 OK
D347_T OK
D350 OK
D351_T OK
I339_1 OK
I342 OK
I345_1 OK
I348 OK
INGTOT OK
INGTOTP OK
ingtrabw OK
RESIDENT OK
FAC_T300 OK

### Appending into single dataset

In [11]:
dataset = pd.DataFrame()
for i in range(len(df_list)):
    try:
        dataset = pd.concat([dataset, globals()[df_list[i]]], ignore_index=True)
        print(df_list[i] + " inserted into dataset")
    except:
        print("ERROR inserting " + df_list[i] + " into dataset")

chiclayo_2022T1 inserted into dataset
chiclayo_2022T2 inserted into dataset
chiclayo_2022T3 inserted into dataset
chiclayo_2022T4 inserted into dataset
chiclayo_2023T1 inserted into dataset
chiclayo_2023T2 inserted into dataset
chiclayo_2023T3 inserted into dataset
chiclayo_2023T4 inserted into dataset
chimbote_2022T1 inserted into dataset
chimbote_2022T2 inserted into dataset
chimbote_2022T3 inserted into dataset
chimbote_2022T4 inserted into dataset
chimbote_2023T1 inserted into dataset
chimbote_2023T2 inserted into dataset
chimbote_2023T3 inserted into dataset
chimbote_2023T4 inserted into dataset
lima_metropolitana_2022T1 inserted into dataset
lima_metropolitana_2022T2 inserted into dataset
lima_metropolitana_2022T3 inserted into dataset
lima_metropolitana_2022T4 inserted into dataset
lima_metropolitana_2023T1 inserted into dataset
lima_metropolitana_2023T2 inserted into dataset
lima_metropolitana_2023T3 inserted into dataset
lima_metropolitana_2023T4 inserted into dataset
piura_2022T1 inserted into dataset
piura_2022T2 inserted into dataset
piura_2022T3 inserted into dataset
piura_2022T4 inserted into dataset
piura_2023T1 inserted into dataset
piura_2023T2 inserted into dataset
piura_2023T3 inserted into dataset
piura_2023T4 inserted into dataset
trujillo_2022T1 inserted into dataset
trujillo_2022T2 inserted into dataset
trujillo_2022T3 inserted into dataset
trujillo_2022T4 inserted into dataset
trujillo_2023T1 inserted into dataset
trujillo_2023T2 inserted into dataset
trujillo_2023T3 inserted into dataset
trujillo_2023T4 inserted into dataset
tumbes_2022T1 inserted into dataset
tumbes_2022T2 inserted into dataset
tumbes_2022T3 inserted into dataset
tumbes_2022T4 inserted into dataset
tumbes_2023T1 inserted into dataset
tumbes_2023T2 inserted into dataset
tumbes_2023T3 inserted into dataset
tumbes_2023T4 inserted into dataset

### Data cleansing and casting

In [33]:
# Enable showing all the columns and up to 300 rows
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 300)

**Sampling data**

In [13]:
# Prints a random sample from the dataset
dataset.sample(10)

,CIUDAD,ANIO,MES,AREA,ESTRATO,LLAVE_PANEL,CONGLOMERADO,MUESTRA,SELVIV,HOGAR,C201,C203,C204,C205,C206,C207,C208,C300n,NROINF,C301_DIA,C301_MES,C301_ANIO,C303,C304,C305,C306_1,C306_2,C306_3,C306_4,C306_5,C306_6,C306_7,C306_8,C306_9,C306_10,C306_10A,C306_11,C306A,C308_COD,C309_COD,C310,C311,C312,C313,C317,C317A,C318_1,C318_2,C318_3,C318_4,C318_5,C318_6,C318_7,C318_T,C328_T,whoraT,C330,C331,C333,C334,P209H,C335,C338,C339_1,C341_T,C342,C344,C345_1,C347_T,C348,C350,C352,C353,C354,C355,C356,C357_I,C358,C359,C361_1,C362_1,C361_2,C362_2,C361_3,C362_3,C361_4,C362_4,C361_5,C362_5,C361_6,C362_6,C361_7,C362_7,C361_8,C362_8,C364_1,C365_1,C364_2,C365_2,C364_3,C365_3,C364_4,C365_4,C366,C366_1,C366_2,C375_1,C375_2,C375_3,C375_4,C375_5,C375_6,C376,C377,OCUP300,D341_T,D344,D347_T,D350,D351_T,I339_1,I342,I345_1,I348,INGTOT,INGTOTP,ingtrabw,RESIDENT,FAC_T300
64459,LIMA,2022,4,1,1,202101471091014512,47109,1,145,1,2,2,1,2,,2,63,2,2,21,11,1958,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,2,5,1,2,,,,1,2,,2,,2,,2,,1,5,2,,2,,2,,2,,2,,2,,2,,3,3,,2,2,2,2,2,2,1,1,4,,,,,,,,,,,,,1,684.503479003906
84680,LIMA,2022,8,1,1,202205252871007713,25287,1,77,1,3,5,1,2,,2,12,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,1,
23003,CHICLAYO,2023,9,1,1,202209033762000913,3376,2,9,1,3,3,1,2,,2,7,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,1,
20206,CHICLAYO,2023,6,1,1,202306034362001915,3436,2,19,1,5,3,1,2,,1,19,5,5,3,1,2004,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,2,4,2,,,,,1,2,,2,,2,,2,,1,5,2,,2,,2,,1,5,2,,2,,2,,10,1,,2,2,2,2,2,2,10,7,4,,,,,,,,,,,,,1,173.045165384898
182642,PIURA,2023,3,1,2,20210901207011002711,120701,1,27,1,1,1,1,2,,1,37,1,1,24,6,1985,1,,,,,,,,,,,,,,,,7431,3250,2,,3,2,1,2,0,4,5,5,4,4,0,22,,22,1,,1,2,2,2,,,,,,,,,,,,,,,,,1,2,,2,,2,,2,,1,5,2,,2,,2,,2,,2,,2,,2,,8,2,,2,2,2,2,2,2,10,7,1,,,,,,,1815,,,1815,1815,1815,1,239.245270062176
238142,TUMBES,2023,3,1,3,202212000791015913,79,1,159,1,3,3,1,2,,1,12,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,1,
80862,LIMA,2022,8,1,1,20210527571021001111,2757102,1,11,1,1,1,1,2,,2,47,1,99,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,1,
115688,LIMA,2023,3,1,1,202303182411010615,18241,1,106,1,5,3,1,2,,1,23,5,5,19,1,2000,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,1,,,,,4,4,2,2,,2,,2,,2,,1,5,2,,2,,2,,2,,2,,2,,2,,11,5,,2,2,2,2,2,2,10,9,2,,,,,,,,,,,,,1,650.64547
18265,CHICLAYO,2023,5,1,1,202305033442002114,3344,2,21,1,4,3,1,2,,1,9,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,1,
33964,CHIMBOTE,2022,9,1,2,202206125231003212,12523,1,32,1,2,2,1,2,,2,59,2,2,5,3,1963,1,,,,,,,,,,,,,,,,5212,4730,1,,2,2,1,2,0,4,10,10,4,10,10,48,,48,1,,2,,2,2,,,,,,,,,,,,,,,,,1,1,4,2,,2,,2,,2,,2,,2,,2,,2,,2,,2,,2,,6,5,,2,2,2,2,2,2,10,7,1,,,,,,,216,,,216,216,216,1,149.011266748183

**Dealing with NAs and string values**

In [14]:
# Replaces blank values with NAs
dataset.replace(" ", pd.NA, inplace=True)

**Data summary before casting**

In [15]:
# Summarizes dataset
dataset.describe(include='all')

,CIUDAD,ANIO,MES,AREA,ESTRATO,LLAVE_PANEL,CONGLOMERADO,MUESTRA,SELVIV,HOGAR,C201,C203,C204,C205,C206,C207,C208,C300n,NROINF,C301_DIA,C301_MES,C301_ANIO,C303,C304,C305,C306_1,C306_2,C306_3,C306_4,C306_5,C306_6,C306_7,C306_8,C306_9,C306_10,C306_10A,C306_11,C306A,C308_COD,C309_COD,C310,C311,C312,C313,C317,C317A,C318_1,C318_2,C318_3,C318_4,C318_5,C318_6,C318_7,C318_T,C328_T,whoraT,C330,C331,C333,C334,P209H,C335,C338,C339_1,C341_T,C342,C344,C345_1,C347_T,C348,C350,C352,C353,C354,C355,C356,C357_I,C358,C359,C361_1,C362_1,C361_2,C362_2,C361_3,C362_3,C361_4,C362_4,C361_5,C362_5,C361_6,C362_6,C361_7,C362_7,C361_8,C362_8,C364_1,C365_1,C364_2,C365_2,C364_3,C365_3,C364_4,C365_4,C366,C366_1,C366_2,C375_1,C375_2,C375_3,C375_4,C375_5,C375_6,C376,C377,OCUP300,D341_T,D344,D347_T,D350,D351_T,I339_1,I342,I345_1,I348,INGTOT,INGTOTP,ingtrabw,RESIDENT,FAC_T300
count,247566,247566.000000,247566.000000,247566.0,247566.000000,247566,2.475660e+05,247566.000000,247566.000000,247566.000000,247566.000000,247566.000000,246533.0,244019,2514,246533.0,246533.0,184639,184639,173651,173651,173651,173651,74346,72429,72031,72031,72031,72031,72031,72031,72031,72031,72031,72031,72031,72031,29984,108082,108331,108082,57195,93498,64611,107056,107056,108082,108082,108082,108082,108082,108082,108082,108082,14610,105825,108082,13911,108082,32609,105825,101604,60645,60026,16704,10206,2607,2841,662,9007,2270,67945,60303,60148,18669,9361,7873,8192,173651,173651,62065,173651,4196,173651,3108,173651,3728,173651,87716,173651,857,173651,33,173651,70,173651,43351,173651,21973,173651,1184,173651,1986,173651,164212,6545,173651,173651,173651,173651,173651,173651,173651,173651,173651,16704,12839,662,2406,28801,60307,40959,2856,9346,105825,105825,105831,247566.000000,173444
unique,6,NaN,NaN,NaN,NaN,113303,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2,2,4.0,206.0,19,19,32,13,93,2,2,2,2,2,2,2,2,2,2,2,2,2,1,2,2,450,408,8,5,4,3,5,395,19,19,19,19,19,19,19,113,80,120,2,105,2,2,2,2,5,3765,637,1070,196,427,103,742,182,2,8,2,2,13,10,14,2,2,5,2,4,2,4,2,3,2,4,2,2,2,2,2,5,2,5,2,5,2,3,2,4,12,8,6,2,2,2,2,2,2,14,9,4,931,464,143,199,1658,3765,3755,429,770,5628,5400,6970,NaN,92006
top,LIMA,NaN,NaN,NaN,NaN,20220225611011004911,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2,2,2.0,13.0,1,1,1,8,2005,1,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,5212,5610,3,5,3,2,1,1,0,8,8,8,8,8,0,48,6,48,1,48,2,1,2,2,4,1025,60,1500,50,200,10,200,50,2,5,2,1,3,5,2,1,2,1,2,2,2,1,2,4,1,5,2,4,2,4,2,2,2,1,2,5,2,3,2,1,6,5,6,2,2,2,2,2,2,10,7,1,260,300,130,50,50,1025,1000,200,200,0,0,0,NaN,724.236911078298
freq,119822,NaN,NaN,NaN,NaN,26,NaN,NaN,NaN,NaN,NaN,NaN,213792.0,237545,1764,112455.0,3949.0,68492,67325,6420,15446,3953,99305,72429,72031,71328,70407,71477,71413,71985,71999,71902,72014,71951,69862,72031,71549,29976,6906,8405,56614,44713,45224,57567,76777,31147,74084,32913,33114,33393,33017,32949,35124,13949,1183,15008,94171,2729,75473,25516,80753,87804,41122,3059,1351,803,256,132,81,689,244,60303,27608,41479,9361,2037,3438,2320,153145,111586,29670,169455,2008,170543,1934,169923,1714,87716,87108,172794,474,173618,30,173581,49,130300,23209,151678,8423,172467,1094,171665,987,52717,81765,3927,169810,172142,172569,172224,171565,172074,165042,110083,105825,1303,624,48,247,2205,3022,674,134,707,4386,4386,4386,NaN,524
mean,NaN,2022.507380,6.540474,1.0,1.375706,NaN,4.379079e+05,1.420449,59.937596,1.041274,2.724514,3.168476,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000105,NaN
std,NaN,0.499947,3.450162,0.0,0.647505,NaN,9.841840e+05,1.907832,52.493608,0.243729,1.687800,6.401905,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.548019,NaN
min,NaN,2022.000000,1.000000,1.0,1.000000,NaN,3.400000e+01,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
25%,NaN,2022.000000,4.000000,1.0,1.000000,NaN,1.026100e+04,1.000000,25.000000,1.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN
50%,NaN,2023.000000,7.000000,1.0,1.000000,NaN,2.091500e+04,1.000000,50.000000,1.000000,2.000000,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN
75%,NaN,2023.000000,10.000000,1.0,2.000000,NaN,4.802300e+04,1.000000,81.000000,1.000000,4.000000,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN
max,NaN,2023.000000,12.000000,1.0,3.000000,NaN,4.805101e+06,80.000000,1410.000000,6.000000,20.000000,98.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.000000,NaN

**Casting to categorical variables**
<br>
For more info about the type of variables: <link>https://www.inei.gob.pe/media/DATOS_ABIERTOS/EPEN_CIU/DICCIONARIO/2023/nac-trim-jul-agos-set/Diccionario.pdf</link>

In [16]:
dataset['CIUDAD'] = dataset['CIUDAD'].astype('category')

In [17]:
dataset[['ANIO', 'MES', 'AREA', 'ESTRATO', 'C203', 'C204', 'C205', 'C206', 'C207', 'C303', 'C304', 'C305', 'C306_1', 'C306_2', 'C306_3', 'C306_4', 'C306_5', 'C306_6', 'C306_7',
         'C306_8', 'C306_9', 'C306_10', 'C306_10A', 'C306_11', 'C306A', 'C310', 'C311', 'C312', 'C313', 'C317', 'C330', 'C333', 'C334', 'P209H', 'C335', 'C338', 'C352', 'C353',
         'C354', 'C355', 'C356', 'C357_I', 'C359', 'C361_1', 'C362_1', 'C361_2', 'C362_2', 'C361_3', 'C362_3', 'C361_4', 'C362_4', 'C361_5', 'C362_5', 'C361_6', 'C362_6', 'C361_7',
         'C362_7', 'C361_8', 'C362_8', 'C364_1', 'C365_1',  'C364_2', 'C365_2', 'C364_3', 'C365_3', 'C364_4', 'C365_4', 'C366', 'C366_1', 'C366_2', 'C375_1', 'C375_2', 'C375_3',
         'C375_4', 'C375_5', 'C375_6', 'C376', 'C377', 'OCUP300', 'RESIDENT']] = dataset[['ANIO', 'MES', 'AREA', 'ESTRATO', 'C203', 'C204', 'C205', 'C206', 'C207', 'C303', 'C304',
                                                                                          'C305', 'C306_1', 'C306_2', 'C306_3', 'C306_4', 'C306_5', 'C306_6', 'C306_7',
         'C306_8', 'C306_9', 'C306_10', 'C306_10A', 'C306_11', 'C306A', 'C310', 'C311', 'C312', 'C313', 'C317', 'C330', 'C333', 'C334', 'P209H', 'C335', 'C338', 'C352', 'C353',
         'C354', 'C355', 'C356', 'C357_I', 'C359', 'C361_1', 'C362_1', 'C361_2', 'C362_2', 'C361_3', 'C362_3', 'C361_4', 'C362_4', 'C361_5', 'C362_5', 'C361_6', 'C362_6', 'C361_7',
         'C362_7', 'C361_8', 'C362_8', 'C364_1', 'C365_1',  'C364_2', 'C365_2', 'C364_3', 'C365_3', 'C364_4', 'C365_4', 'C366', 'C366_1', 'C366_2', 'C375_1', 'C375_2', 'C375_3',
         'C375_4', 'C375_5', 'C375_6', 'C376', 'C377', 'OCUP300', 'RESIDENT']].replace(pd.NA,0).astype(int).replace(0,pd.NA).astype('category')

**Casting to numeric variables**
<br>
For more info about the type of variables: <link>https://www.inei.gob.pe/media/DATOS_ABIERTOS/EPEN_CIU/DICCIONARIO/2023/nac-trim-jul-agos-set/Diccionario.pdf</link>

In [18]:
# Cast numeric vatiables from object to numeric
dataset[['C208', 'C300n', 'NROINF', 'C301_DIA', 'C301_MES', 'C301_ANIO','C308_COD', 'C309_COD', 'C317A', 'C318_1', 'C318_2', 'C318_3', 'C318_4',
         'C318_5', 'C318_6', 'C318_7', 'C318_T', 'C328_T', 'whoraT', 'C331','C339_1', 'C341_T', 'C342', 'C344', 'C345_1', 'C347_T', 'C348', 'C350', 'C358', 'D341_T', 'D344', 'D347_T', 'D350', 'D351_T', 'I339_1',
         'I342','I345_1', 'I348', 'INGTOT', 'INGTOTP', 'ingtrabw', 'FAC_T300']] = dataset[['C208', 'C300n', 'NROINF', 'C301_DIA', 'C301_MES', 'C301_ANIO','C308_COD', 'C309_COD', 'C317A', 'C318_1', 'C318_2', 'C318_3', 'C318_4',
         'C318_5', 'C318_6', 'C318_7', 'C318_T', 'C328_T', 'whoraT', 'C331','C339_1', 'C341_T', 'C342', 'C344', 'C345_1', 'C347_T', 'C348', 'C350', 'C358', 'D341_T', 'D344', 'D347_T', 'D350', 'D351_T', 'I339_1',
         'I342','I345_1', 'I348', 'INGTOT', 'INGTOTP', 'ingtrabw', 'FAC_T300']].apply(pd.to_numeric)

In [19]:
# data types
dataset.dtypes

CIUDAD          category
ANIO            category
MES             category
AREA            category
ESTRATO         category
LLAVE_PANEL       object
CONGLOMERADO       int64
MUESTRA            int64
SELVIV             int64
HOGAR              int64
C201               int64
C203            category
C204            category
C205            category
C206            category
C207            category
C208             float64
C300n            float64
NROINF           float64
C301_DIA         float64
C301_MES         float64
C301_ANIO        float64
C303            category
C304            category
C305            category
C306_1          category
C306_2          category
C306_3          category
C306_4          category
C306_5          category
C306_6          category
C306_7          category
C306_8          category
C306_9          category
C306_10         category
C306_10A        category
C306_11         category
C306A           category
C308_COD         float64
C309_COD         float64
C310            category
C311            category
C312            category
C313            category
C317            category
C317A            float64
C318_1           float64
C318_2           float64
C318_3           float64
C318_4           float64
C318_5           float64
C318_6           float64
C318_7           float64
C318_T           float64
C328_T           float64
whoraT           float64
C330            category
C331             float64
C333            category
C334            category
P209H           category
C335            category
C338            category
C339_1           float64
C341_T           float64
C342             float64
C344             float64
C345_1           float64
C347_T           float64
C348             float64
C350             float64
C352            category
C353            category
C354            category
C355            category
C356            category
C357_I          category
C358             float64
C359            category
C361_1          category
C362_1          category
C361_2          category
C362_2          category
C361_3          category
C362_3          category
C361_4          category
C362_4          category
C361_5          category
C362_5          category
C361_6          category
C362_6          category
C361_7          category
C362_7          category
C361_8          category
C362_8          category
C364_1          category
C365_1          category
C364_2          category
C365_2          category
C364_3          category
C365_3          category
C364_4          category
C365_4          category
C366            category
C366_1          category
C366_2          category
C375_1          category
C375_2          category
C375_3          category
C375_4          category
C375_5          category
C375_6          category
C376            category
C377            category
OCUP300         category
D341_T           float64
D344             float64
D347_T           float64
D350             float64
D351_T           float64
I339_1           float64
I342             float64
I345_1           float64
I348             float64
INGTOT           float64
INGTOTP          float64
ingtrabw         float64
RESIDENT        category
FAC_T300         float64
dtype: object

In [20]:
dataset.describe(include="all")

,CIUDAD,ANIO,MES,AREA,ESTRATO,LLAVE_PANEL,CONGLOMERADO,MUESTRA,SELVIV,HOGAR,C201,C203,C204,C205,C206,C207,C208,C300n,NROINF,C301_DIA,C301_MES,C301_ANIO,C303,C304,C305,C306_1,C306_2,C306_3,C306_4,C306_5,C306_6,C306_7,C306_8,C306_9,C306_10,C306_10A,C306_11,C306A,C308_COD,C309_COD,C310,C311,C312,C313,C317,C317A,C318_1,C318_2,C318_3,C318_4,C318_5,C318_6,C318_7,C318_T,C328_T,whoraT,C330,C331,C333,C334,P209H,C335,C338,C339_1,C341_T,C342,C344,C345_1,C347_T,C348,C350,C352,C353,C354,C355,C356,C357_I,C358,C359,C361_1,C362_1,C361_2,C362_2,C361_3,C362_3,C361_4,C362_4,C361_5,C362_5,C361_6,C362_6,C361_7,C362_7,C361_8,C362_8,C364_1,C365_1,C364_2,C365_2,C364_3,C365_3,C364_4,C365_4,C366,C366_1,C366_2,C375_1,C375_2,C375_3,C375_4,C375_5,C375_6,C376,C377,OCUP300,D341_T,D344,D347_T,D350,D351_T,I339_1,I342,I345_1,I348,INGTOT,INGTOTP,ingtrabw,RESIDENT,FAC_T300
count,247566,247566.0,247566.0,247566.0,247566.0,247566,2.475660e+05,247566.000000,247566.000000,247566.000000,247566.000000,247566.0,246533.0,244019.0,2514.0,246533.0,246533.000000,184639.000000,184639.000000,173651.000000,173651.000000,173651.000000,173651.0,74346.0,72429.0,72031.0,72031.0,72031.0,72031.0,72031.0,72031.0,72031.0,72031.0,72031.0,72031.0,72031.0,72031.0,29984.0,108082.000000,108331.000000,108082.0,57195.0,93498.0,64611.0,107056.0,107056.000000,108082.000000,108082.000000,108082.000000,108082.000000,108082.000000,108082.000000,108082.000000,108082.000000,14610.000000,105825.000000,108082.0,13911.000000,108082.0,32609.0,105825.0,101604.0,60645.0,60026.000000,16704.000000,10206.000000,2607.000000,2841.000000,662.000000,9007.000000,2270.000000,67945.0,60303.0,60148.0,18669.0,9361.0,7873.0,8192.000000,173651.0,173651.0,62065.0,173651.0,4196.0,173651.0,3108.0,173651.0,3728.0,173651.0,87716.0,173651.0,857.0,173651.0,33.0,173651.0,70.0,173651.0,43351.0,173651.0,21973.0,173651.0,1184.0,173651.0,1986.0,173651.0,164037.0,6545.0,173651.0,173651.0,173651.0,173651.0,173651.0,173651.0,173651.0,173651.0,173651.0,16704.000000,12839.000000,662.000000,2406.000000,28801.000000,60307.000000,40959.000000,2856.000000,9346.000000,105825.000000,105825.000000,105831.000000,239328.0,173444.000000
unique,6,2.0,12.0,1.0,3.0,113303,NaN,NaN,NaN,NaN,NaN,12.0,2.0,2.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,NaN,NaN,8.0,5.0,4.0,3.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2.0,2.0,2.0,2.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,8.0,2.0,2.0,13.0,10.0,NaN,2.0,2.0,5.0,2.0,4.0,2.0,4.0,2.0,3.0,2.0,4.0,2.0,2.0,2.0,2.0,2.0,5.0,2.0,5.0,2.0,5.0,2.0,3.0,2.0,4.0,12.0,7.0,6.0,2.0,2.0,2.0,2.0,2.0,2.0,14.0,9.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN
top,LIMA,2023.0,9.0,1.0,1.0,20220225611011004911,NaN,NaN,NaN,NaN,NaN,3.0,1.0,2.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN,NaN,3.0,5.0,3.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,2.0,1.0,2.0,2.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,5.0,2.0,1.0,3.0,5.0,NaN,1.0,2.0,1.0,2.0,2.0,2.0,1.0,2.0,4.0,1.0,5.0,2.0,4.0,2.0,4.0,2.0,2.0,2.0,1.0,2.0,5.0,2.0,3.0,2.0,1.0,6.0,5.0,6.0,2.0,2.0,2.0,2.0,2.0,2.0,10.0,7.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
freq,119822,125610.0,21397.0,247566.0,177418.0,26,NaN,NaN,NaN,NaN,NaN,100224.0,244019.0,237545.0,1764.0,128272.0,NaN,NaN,NaN,NaN,NaN,NaN,99305.0,72429.0,72031.0,71328.0,70407.0,71477.0,71413.0,71985.0,71999.0,71902.0,72014.0,71951.0,69862.0,72031.0,71549.0,29976.0,NaN,NaN,56614.0,44713.0,45224.0,57567.0,76777.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94171.0,NaN,75473.0,25516.0,80753.0,87804.0,41122.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60303.0,27608.0,41479.0,9361.0,2037.0,3438.0,NaN,153145.0,111586.0,29670.0,169455.0,2008.0,170543.0,1934.0,169923.0,1714.0,87716.0,87108.0,172794.0,474.0,173618.0,30.0,173581.0,49.0,130300.0,23209.0,151678.0,8423.0,172467.0,1094.0,171665.0,987.0,52717.0,81765.0,3927.0,169810.0,172142.0,172569.0,172224.0,171565.0,172074.0,165042.0,110083.0,105825.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,238295.0,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,4.379079e+05,1.420449,59.937596,1.041274,2.724514,NaN,NaN,NaN,NaN,NaN,33.976449,2.256056,7.959489,15.731254,6.638413,1980.202158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6231.315501,5516.435388,NaN,NaN,NaN,NaN,NaN,1012.477143,2.332969,6.497863,6.490572,6.556522,6.502665,6.573139,5.033391,39.987121,13.676591,44.717902,NaN,41.658759,NaN,NaN,NaN,NaN,NaN,1532.159164,118.237847,1696.694591,184.123130,676.283351,57.986405,531.811147,94.411013,NaN,NaN,NaN,NaN,NaN,NaN,2.947876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,366.041367,240.049614,181.814199,92.640898,363.228325,1808.963752,1286.101370,680.580182,530.688744,1684.042183,1615.563005,1782.795873,NaN,484.685097
std,NaN,NaN,NaN,NaN,NaN,NaN,9.841840e+05,1.907832,52.493608,0.243729,1.687800,NaN,NaN,NaN,NaN,NaN,21.985466,1.432879,22.941465,9.323801,4.800404,18.913132,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2550.283291,2441.025342,NaN,NaN,NaN,NaN,NaN,2809.083626,3.900224,3.775792,3.777111,3.725303,3.782020,3.741512,4.238380,20.330090,11.770238,19.035718,NaN,18.000014,NaN,NaN,NaN,NaN,NaN,1652.787740,217.300103,2295.260102,245.936378,987.190647,138.037996,863.478544,143.057668,NaN,NaN,NaN,NaN,NaN,NaN,2.059390,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,310.285793,315.067193,180.073796,140.810788,571.469457,1549.824076,1569.195785,1004.085811,869.203476,1690.948579,1596.421809,1873.882227,NaN,463.831302
min,NaN,NaN,NaN,NaN,NaN,NaN,3.400000e+01,1.000000,1.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,0.000000,1.000000,1.000000,1.000000,1.000000,1917.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,111.000000,111.000000,NaN,NaN,NaN,NaN,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,NaN,2.000000,NaN,NaN,NaN,NaN,NaN,5.000000,2.000000,5.000000,2.000000,4.000000,1.000000,5.000000,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,1.000000,2.000000,0.000000,12.000000,1.000000,4.000000,1.000000,0.000000,0.000000,0.000000,NaN,8.523329
25%,NaN,NaN,NaN,NaN,NaN,NaN,1.026100e+04,1.000000,25.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,15.000000,1.000000,1.000000,8.000000,4.000000,1966.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4321.000000,4630.000000,NaN,NaN,NaN,NaN,NaN,1.000000,0.000000,4.000000,4.000000,4.000000,4.000000,4.000000,0.000000,25.000000,5.000000,34.000000,NaN,30.000000,NaN,NaN,NaN,NaN,NaN,410.000000,17.000000,584.000000,30.000000,132.000000,12.000000,120.000000,24.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,173.000000,44.000000,61.000000,23.000000,75.000000,1000.000000,450.000000,133.000000,120.000000,779.000000,748.000000,780.000000,NaN,174.775900
50%,NaN,NaN,NaN,NaN,NaN,NaN,2.091500e+04,1.000000,50.000000,1.000000,2.000000,NaN,NaN,NaN,NaN,NaN,31.000000,2.000000,2.000000,16.000000,7.000000,1982.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5312.000000,4922.000000,NaN,NaN,NaN,NaN,NaN,3.000000,0.000000,8.000000,8.000000,8.000000,8.000000,8.000000,5.000000,42.000000,10.000000,46.000000,NaN,45.000000,NaN,NaN,NaN,NaN,NaN,1100.000000,50.000000,1200.000000,90.000000,310.000000,22.000000,300.000000,50.000000,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,300.000000,113.000000,130.000000,50.000000,183.000000,1386.000000,978.000000,311.500000,300.000000,1300.000000,1266.000000,1350.000000,NaN,309.481507
75%,NaN,NaN,NaN,NaN,NaN,NaN,4.802300e+04,1.000000,81.000000,1.000000,4.000000,NaN,NaN,NaN,NaN,NaN,50.000000,3.000000,3.000000,23.000000,9.000000,1996.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9111.000000,8121.000000,NaN,NaN,NaN,NaN,NaN,46.000000,5.000000,9.000000,9.000000,9.000000,9.000000,9.000000,8.000000,51.000000,18.000000,56.000000,NaN,50.000000,NaN,NaN,NaN,NaN,NaN,2000.000000,118.250000,2000.000000,240.000000,800.000000,50.000000,600.000000,100.000000,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,450.000000,300.000000,259.000000,100.000000,426.000000,2200.000000,1574.000000,800.000000,600.000000,2060.000000,2000.000000,2180.000000,NaN,737.256500
max,NaN,NaN,NaN,NaN,NaN,NaN,4.805101e+06,80.000000,1410.000000,6.000000,20.000000,NaN,NaN,NaN,NaN,NaN,104.000000,19.000000,99.000000,99.000000,99.000000,2009.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9629.000000,9900.000000,NaN,NaN,NaN,NaN,NaN,9998.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,112.000000,91.000000,160.000000,NaN,112.000000,NaN,NaN,NaN,NaN,NaN,35000.000000,6050.000000,60000.000000,1732.000000,10000.000000,2105.000000,20000.000000,2000.000000,NaN,NaN,NaN,NaN,NaN,NaN,24.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7803.000000,5400.000000,1300.000000,2000.000000,13584.000000,35000.000000,60000.000000,10000.000000,20000.000000,70000.000000,60000.000000,70000.000000,NaN,24472.378906

---

## Data exploration

### Activities analysis

**Activities without any occupancy do not generate income**

In [21]:
# No activities, no total work hours, total income OP-OS-Extra not null.
dataset[
        ['C205', 'C206', 'C207', 'C208', 'C303', 'C304', 'C305', 'C306_1', 'C306_2', 'C306_3', 'C306_4', 'C306_5', 'C306_6', 'C306_7', 'C306_8', 'C306_9', 'C306_10', 'C306_10A', 'C306_11', 'C306A', 'C308_COD', 'C309_COD', 'C310', 'C318_T', 'C328_T', 'whoraT', 'C330', 'C331', 'C338', 'C339_1', 'C341_T', 'C342', 'C344', 'C345_1', 'C347_T', 'C348', 'C350', 'OCUP300', 'D341_T', 'D344', 'D347_T', 'D350', 'D351_T', 'I339_1', 'I342', 'I345_1', 'I348', 'INGTOT', 'INGTOTP', 'ingtrabw']
].loc[
        (dataset['ingtrabw'] != 0) &
        (pd.notna(dataset['ingtrabw'])) &
        (dataset[['C306_1', 'C306_2', 'C306_3', 'C306_4', 'C306_5', 'C306_6', 'C306_7', 'C306_8', 'C306_9', 'C306_10', 'C306_10A', 'C306_11', 'C306A']] == 1).any(axis=1) &
        (pd.notna(dataset[['C306_1', 'C306_2', 'C306_3', 'C306_4', 'C306_5', 'C306_6', 'C306_7', 'C306_8', 'C306_9', 'C306_10', 'C306_10A', 'C306_11', 'C306A']].all(axis=1))) &
        (pd.isna(dataset['whoraT']))
     ]

C:\Users\diegortiz\.conda\envs\py_3-10-13\lib\site-packages\pandas\core\arrays\base.py:568: RuntimeWarning: invalid value encountered in cast
  result = np.asarray(self, dtype=dtype)

Empty DataFrame
Columns: [C205, C206, C207, C208, C303, C304, C305, C306_1, C306_2, C306_3, C306_4, C306_5, C306_6, C306_7, C306_8, C306_9, C306_10, C306_10A, C306_11, C306A, C308_COD, C309_COD, C310, C318_T, C328_T, whoraT, C330, C331, C338, C339_1, C341_T, C342, C344, C345_1, C347_T, C348, C350, OCUP300, D341_T, D344, D347_T, D350, D351_T, I339_1, I342, I345_1, I348, INGTOT, INGTOTP, ingtrabw]
Index: []

**Breakdown of activities and check for any overlap in activities**

In [22]:
# Breakdown of the activities and agricultural/livestock
print('C306_n = NA and C306A = NA')
tv1=dataset[['C306_1', 'C306_2', 'C306_3', 'C306_4', 'C306_5', 'C306_6', 'C306_7', 'C306_8', 'C306_9', 'C306_10', 'C306_10A', 'C306_11','C306A']].loc[(dataset[['C306_1', 'C306_2', 'C306_3', 'C306_4', 'C306_5', 'C306_6', 'C306_7', 'C306_8', 'C306_9', 'C306_10', 'C306_10A', 'C306_11','C306A']].apply(pd.to_numeric).sum(axis=1)==0)].apply(pd.to_numeric).shape[0] # C306_n=NA, C306A=NA
print(str(tv1)+'\n')

print('C306_n = 2 and C306A = 2')
tv2=dataset[['C306_1', 'C306_2', 'C306_3', 'C306_4', 'C306_5', 'C306_6', 'C306_7', 'C306_8', 'C306_9', 'C306_10', 'C306_10A', 'C306_11','C306A']].loc[(dataset[['C306_1', 'C306_2', 'C306_3', 'C306_4', 'C306_5', 'C306_6', 'C306_7', 'C306_8', 'C306_9', 'C306_10', 'C306_10A', 'C306_11','C306A']].apply(pd.to_numeric).sum(axis=1)==26)].apply(pd.to_numeric).shape[0] # C306_n=2, C306A=2
print(str(tv2)+'\n')

print('C306_n = 2 and C306A = 1')
tv3=dataset[['C306_1', 'C306_2', 'C306_3', 'C306_4', 'C306_5', 'C306_6', 'C306_7', 'C306_8', 'C306_9', 'C306_10', 'C306_10A', 'C306_11','C306A']].loc[(dataset[['C306_1', 'C306_2', 'C306_3', 'C306_4', 'C306_5', 'C306_6', 'C306_7', 'C306_8', 'C306_9', 'C306_10', 'C306_10A', 'C306_11','C306A']].apply(pd.to_numeric).sum(axis=1)==25)].apply(pd.to_numeric).shape[0] # C306_n=2, C306A=1
print(str(tv3)+'\n')

print('C306_n = 2 and C306A = NA')
tv4=dataset[['C306_1', 'C306_2', 'C306_3', 'C306_4', 'C306_5', 'C306_6', 'C306_7', 'C306_8', 'C306_9', 'C306_10', 'C306_10A', 'C306_11','C306A']].loc[(dataset[['C306_1', 'C306_2', 'C306_3', 'C306_4', 'C306_5', 'C306_6', 'C306_7', 'C306_8', 'C306_9', 'C306_10', 'C306_10A', 'C306_11','C306A']].apply(pd.to_numeric).sum(axis=1)==24)].apply(pd.to_numeric).shape[0] # C306_n=2, C306A=NA
print(str(tv4)+'\n')

print('C306_n = 1:2 and C306A = NA')
tv5=dataset[['C306_1', 'C306_2', 'C306_3', 'C306_4', 'C306_5', 'C306_6', 'C306_7', 'C306_8', 'C306_9', 'C306_10', 'C306_10A', 'C306_11','C306A']].loc[(dataset[['C306_1', 'C306_2', 'C306_3', 'C306_4', 'C306_5', 'C306_6', 'C306_7', 'C306_8', 'C306_9', 'C306_10', 'C306_10A', 'C306_11','C306A']].apply(pd.to_numeric).sum(axis=1)==23)].apply(pd.to_numeric).shape[0] # C306_n=1:2 (1 only for one colum), C306A=NA
print(str(tv5)+'\n')

if (tv1+tv2+tv3+tv4+tv5)==dataset.shape[0]:
    print('TOTAL: ' + str(tv1+tv2+tv3+tv4+tv5) + ' matches the ' + str(dataset.shape[0]) + ' rows.')
else:
    print("Totals are not matching.")
    print("Sum of results: " + str(tv1+tv2+tv3+tv4+tv5))
    print("Total rows of dataset: " + str(dataset.shape[0]))

C306_n = NA and C306A = NA
175535

C306_n = 2 and C306A = 2
29976

C306_n = 2 and C306A = 1
8

C306_n = 2 and C306A = NA
35593

C306_n = 1:2 and C306A = NA
6454

TOTAL: 247566 matches the 247566 rows.

**Count of registries for each C306_n=1**
<br>
Results show that queries can be made by addressing the 1 into each column of activity

In [23]:
# Breadkdown C306_n=1:2 and C306A = NA

c=0

for i in range(1,11):
    print("C306_"+str(i)+": "+str(dataset.loc[(dataset['C306_'+str(i)]==1)].shape[0]))
    c = c + dataset.loc[(dataset['C306_'+str(i)]==1)].shape[0]
    globals()['df_C306_'+str(i)]=dataset.loc[(dataset['C306_'+str(i)]==1)]

print("C306_10A: " + str(dataset.loc[(dataset['C306_10A']==1)].shape[0]))
c = c + dataset.loc[(dataset['C306_10A']=="1")].shape[0]

print("C306_11: " + str(dataset.loc[(dataset['C306_11']==1)].shape[0]))
c = c + dataset.loc[(dataset['C306_11']==1)].shape[0]
df_C306_11 = dataset.loc[(dataset['C306_11']==1)]

if c == tv5:
    print("Total of " + str(c) + " = " + str(tv5))
else:
    print('Number of rows of (C306_n = 1:2 and C306A = NA) differs from its breakdown')

C306_1: 703
C306_2: 1624
C306_3: 554
C306_4: 618
C306_5: 46
C306_6: 32
C306_7: 129
C306_8: 17
C306_9: 80
C306_10: 2169
C306_10A: 0
C306_11: 482
Total of 6454 = 6454

### Occupancy analysis

In [24]:
# Count of data per column
dataset[
   ['C303','C304','C305','C306_1','C306_2','C306_3','C306_4','C306_5','C306_6','C306_7','C306_8','C306_9','C306_10','C306_10A','C306_11','C306A','C308_COD','C309_COD','C310',
    'C311','C312','C313','C317','C317A','C318_T','C328_T','whoraT','C330','C331','C333','C334','C335','C338','C339_1','C341_T','C342','C344','C345_1','C347_T','C348','C350',
    'C352','C353','C354','C355','C356','C357_I','C358','C359','OCUP300','D341_T','D344','D347_T','D350','D351_T','I339_1','I342','I345_1','I348','INGTOT','INGTOTP','ingtrabw']
].count().sort_values()

D347_T         662
C347_T         662
C350          2270
D350          2406
C344          2607
C345_1        2841
I345_1        2856
C357_I        7873
C358          8192
C348          9007
I348          9346
C356          9361
C342         10206
D344         12839
C331         13911
C328_T       14610
C341_T       16704
D341_T       16704
C355         18669
D351_T       28801
C306A        29984
C334         32609
I342         40959
C311         57195
C339_1       60026
C354         60148
C353         60303
I339_1       60307
C338         60645
C313         64611
C352         67945
C306_1       72031
C306_5       72031
C306_3       72031
C306_4       72031
C306_2       72031
C306_6       72031
C306_9       72031
C306_8       72031
C306_10      72031
C306_10A     72031
C306_11      72031
C306_7       72031
C305         72429
C304         74346
C312         93498
C335        101604
INGTOTP     105825
whoraT      105825
INGTOT      105825
ingtrabw    105831
C317A       107056
C317        107056
C333        108082
C330        108082
C318_T      108082
C310        108082
C308_COD    108082
C309_COD    108331
C359        173651
OCUP300     173651
C303        173651
dtype: int64

Selected columns for counting 4 categories:
- DP: I339_1
- DS: I345_1
- IP: I342
- IS: I348

#### Categorizing dataset by occupancy

In [25]:
dataset.loc[(
            (pd.notna(dataset['I339_1'])) & #DP
            (pd.isna(dataset['I345_1'])) & #DS
            (pd.isna(dataset['I342'])) & #IP 
            (pd.isna(dataset['I348'])) & #IS
            (dataset['C208'] >= 18) #+18
            ),'TipoOcupacion'] = 'DP'

dataset.loc[(
            (pd.isna(dataset['I339_1'])) & #DP
            (pd.notna(dataset['I345_1'])) & #DS
            (pd.isna(dataset['I342'])) & #IP 
            (pd.isna(dataset['I348'])) & #IS
            (dataset['C208'] >= 18) #+18
            ),'TipoOcupacion'] = 'DS'

dataset.loc[(
            (pd.isna(dataset['I339_1'])) & #DP
            (pd.isna(dataset['I345_1'])) & #DS
            (pd.notna(dataset['I342'])) & #IP 
            (pd.isna(dataset['I348'])) & #IS
            (dataset['C208'] >= 18) #+18
            ),'TipoOcupacion'] = 'IP'

dataset.loc[(
            (pd.isna(dataset['I339_1'])) & #DP
            (pd.isna(dataset['I345_1'])) & #DS
            (pd.isna(dataset['I342'])) & #IP 
            (pd.notna(dataset['I348'])) & #IS
            (dataset['C208'] >= 18) #+18
            ),'TipoOcupacion'] = 'IS'

dataset.loc[(
            (pd.notna(dataset['I339_1'])) & #DP
            (pd.isna(dataset['I345_1'])) & #DS
            (pd.notna(dataset['I342'])) & #IP 
            (pd.isna(dataset['I348'])) & #IS
            (dataset['C208'] >= 18) #+18
            ),'TipoOcupacion'] = 'DP/IP'

dataset.loc[(
            (pd.notna(dataset['I339_1'])) & #DP
            (pd.notna(dataset['I345_1'])) & #DS
            (pd.isna(dataset['I342'])) & #IP 
            (pd.isna(dataset['I348'])) & #IS
            (dataset['C208'] >= 18) #+18
            ),'TipoOcupacion'] = 'DP/DS'

dataset.loc[(
            (pd.notna(dataset['I339_1'])) & #DP
            (pd.isna(dataset['I345_1'])) & #DS
            (pd.isna(dataset['I342'])) & #IP 
            (pd.notna(dataset['I348'])) & #IS
            (dataset['C208'] >= 18) #+18
            ),'TipoOcupacion'] = 'DP/IS'

dataset.loc[(
            (pd.isna(dataset['I339_1'])) & #DP
            (pd.notna(dataset['I345_1'])) & #DS
            (pd.notna(dataset['I342'])) & #IP 
            (pd.isna(dataset['I348'])) & #IS
            (dataset['C208'] >= 18) #+18
            ),'TipoOcupacion'] = 'IP/DS'

dataset.loc[(
            (pd.isna(dataset['I339_1'])) & #DP
            (pd.isna(dataset['I345_1'])) & #DS
            (pd.notna(dataset['I342'])) & #IP 
            (pd.notna(dataset['I348'])) & #IS
            (dataset['C208'] >= 18) #+18
            ),'TipoOcupacion'] = 'IP/IS'

dataset.loc[(
            (pd.isna(dataset['I339_1'])) & #DP
            (pd.notna(dataset['I345_1'])) & #DS
            (pd.isna(dataset['I342'])) & #IP 
            (pd.notna(dataset['I348'])) & #IS
            (dataset['C208'] >= 18) #+18
            ),'TipoOcupacion'] = 'DS/IS'

dataset.loc[(
            (pd.notna(dataset['I339_1'])) & #DP
            (pd.notna(dataset['I345_1'])) & #DS
            (pd.isna(dataset['I342'])) & #IP 
            (pd.notna(dataset['I348'])) & #IS
            (dataset['C208'] >= 18) #+18
            ),'TipoOcupacion'] = 'DP/DS/IS'

dataset.loc[(
            (pd.isna(dataset['I339_1'])) & #DP
            (pd.notna(dataset['I345_1'])) & #DS
            (pd.notna(dataset['I342'])) & #IP 
            (pd.notna(dataset['I348'])) & #IS
            (dataset['C208'] >= 18) #+18
            ),'TipoOcupacion'] = 'IP/DS/IS'

dataset.loc[(
            (pd.isna(dataset['I339_1'])) & #DP
            (pd.isna(dataset['I345_1'])) & #DS
            (pd.isna(dataset['I342'])) & #IP 
            (pd.isna(dataset['I348'])) & #IS
            (dataset['C208'] >= 18) #+18
            ),'TipoOcupacion'] = 'No Ocupado'

dataset.loc[(
            (dataset['C208'] <18) #-18
            ),'TipoOcupacion'] = 'Menor Edad'
dataset.loc[(
            (pd.isna(dataset['C208'])) #-18
            ),'TipoOcupacion'] = 'Sin Datos'

In [26]:
dataset['TipoOcupacion'].value_counts().sum() == dataset.shape[0]

True

### Categorical analysis

#### Defining categories

In [27]:
education = {
    1:'Sin Nivel',
    2:'Inicial',
    3:'Primaria Incompleta',
    4:'Primaria Completa',
    5:'Secundaria Incompleta',
    6:'Secundaria Completa',
    7:'Básica Especial',
    8:'Superior NU Incompleta',
    9:'Superior NU Completa',
    10:'Superior U Incompleta',
    11:'Superior U Completa',
    12:'Maestria/Doctorado'
}

In [28]:
etnicity = {
    1: "Quechua",
    2: "Aymara",
    3: "Nativo/Indigena de Amazonia",
    4: "Otro pueblo indigena originario",
    5: "Afrodescendiente",
    6: "Blanco",
    7: "Mestizo",
    8: "Otro",
    9: "No sabe/No responde"
}

In [29]:
sex = {
    1: 'Varon',
    2: 'Mujer'
}

In [30]:
rol = {
    1: "Empleador",
    2: "Trabajador independiente",
    3: "Empleado u obrero",
    4: "Ayudante en negocio de familia",
    5: "Ayudante en empleo de familiar",
    6: "Trabajador del hogar",
    7: "Practicante remunerado",
    8: "Practicante sin remuneracion",
    9: "Ayudante en negocio de familia de otro hogar",
    10: "Ayudante en empleo de familiar de otro hogar"
}

In [ ]:
pd.DataFrame(dataset.groupby(by=['TipoOcupacion','C366','C377'],observed=True,dropna=False)['INGTOT'].mean())

In [49]:
result1 = dataset
result1 = result1.loc[result1['TipoOcupacion'].isin(['DP','DP/DS','DP/IS','IP/DS','IP/IS'])]
result1.replace({'C207':sex,'C366':education,'C377':etnicity,'C310':rol},inplace=True)
result1 = result1.groupby(by=['TipoOcupacion','C310','C366','C377','C207'],observed=True,dropna=False).filter(lambda x: len(x) >= 30)
result1.groupby(by=['TipoOcupacion','C310','C366','C377','C207'],observed=True,dropna=False)['INGTOT'].agg(['count','mean']).round(2)

C:\Users\diegortiz\AppData\Local\Temp\ipykernel_336\2105238033.py:3: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  result1.replace({'C207':sex,'C366':education,'C377':etnicity,'C310':rol},inplace=True)
C:\Users\diegortiz\AppData\Local\Temp\ipykernel_336\2105238033.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result1.replace({'C207':sex,'C366':education,'C377':etnicity,'C310':rol},inplace=True)
C:\Users\diegortiz\AppData\Local\Temp\ipykernel_336\2105238033.py:3: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  result1.replace({'C207':sex,'C366':education,'C377':etnicity,'C310':rol},inplace=True)
C:\Users\diegortiz\AppData\Local\Temp\ipykernel_336\2105238033.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result1.replace({'C207':sex,'C366':education,'C377':etnicity,'C310':rol},inplace=True)
C:\Users\diegortiz\AppData\Local\Temp\ipykernel_336\2105238033.py:3: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  result1.replace({'C207':sex,'C366':education,'C377':etnicity,'C310':rol},inplace=True)
C:\Users\diegortiz\AppData\Local\Temp\ipykernel_336\2105238033.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result1.replace({'C207':sex,'C366':education,'C377':etnicity,'C310':rol},inplace=True)
C:\Users\diegortiz\AppData\Local\Temp\ipykernel_336\2105238033.py:3: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  result1.replace({'C207':sex,'C366':education,'C377':etnicity,'C310':rol},inplace=True)
C:\Users\diegortiz\AppData\Local\Temp\ipykernel_336\2105238033.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result1.replace({'C207':sex,'C366':education,'C377':etnicity,'C310':rol},inplace=True)

AttributeError: 'DataFrame' object has no attribute 'sort'

In [ ]:
dataset['ingtrabw'].groupby(by=dataset['C366'].replace(education),observed=True).describe()

In [ ]:
df_DP['ingtrabw'].groupby(by=df_DP['C377'].replace(etnicity),observed=True).describe()

# Testing

In [ ]:
dataset.describe(include="all")

In [ ]:
df_DP["ingtrabw"].describe(include="all")

In [ ]:
df_DP["ingtrabw"].describe()

In [ ]:
df_DP

In [ ]:
df_DP["whoraT"].plot.hist(bins=230)

In [ ]:
df_DP["ingtrabw"].plot.hist(bins=230)

In [ ]:
df_DP["C301_ANIO"].plot.hist(bins=230)

In [ ]:
df_DP.loc[df_DP["C301_ANIO"] == 2009]

In [ ]:
df_DP.loc[df_DP["ingtrabw"] == df_DP["ingtrabw"].max()]

In [ ]:
# ingtrabw outlier
print(df_DP["ingtrabw"].max())
# whoraT outlier
print(df_DP["whoraT"].max())

In [ ]:
df_DP = df_DP.loc[df_DP["ingtrabw"]<43751]
df_DP = df_DP.loc[df_DP["whoraT"]<130]

2 outliers:
- whoraT > 120
- ingtrabw >40000

In [ ]:
df_DP.loc[df_DP["ingtrabw"] > 40000]

---

In [ ]:
df_DP.loc[df_DP["C207"] == "1"]

In [ ]:
df_IP.plot.scatter("whoraT","INGTOT")

In [ ]:
df_DP.shape[0]

In [ ]:
df_DP['ingtrabw']

In [ ]:
df_DP['C366']

In [ ]:
df_DP['whoraT'].groupby(by=df_DP['CIUDAD'],observed=True).describe()

In [ ]:
df_DP.plot.hist(column=["ingtrabw"].observed,by=['CIUDAD'],bins=30,figsize=(10, 30))

In [ ]:
df_DP['ingtrabw'].loc[df_DP['CIUDAD']=="CHICLAYO"].plot.hist(bins=120)

In [ ]:
dataset["C204"].loc[(dataset["ANIO"]==2022) & (dataset["MES"]==12)].unique()

In [ ]:
dataset.sample(5)